@import 'tailwindcss';

@font-face {
  font-family: 'Poly';
  src:
    local('Poly'),
    url('./assets/fonts/Poly-Regular.ttf') format('truetype');
}

/*theme decides which utility classes exist in your project.*/
@theme {
  --color-bg-dark: hsl(0, 0%, 0%);
  --color-bg: hsl(0, 0%, 5%);
  --color-bg-light: hsl(0, 0%, 10%);
  --color-green-dark: hsl(120, 85%, 15%);
  /*og: --color-green: hsl(120, 85%, 40%);*/
  --color-green: hsl(120, 85%, 30%);
  --color-green-light: hsl(120, 85%, 60%);
  --color-green-primary: hsl(120, 83%, 46%);
  --color-text: hsl(0, 0%, 90%);
  --color-text-mutated: hsl(0, 0%, 70%);
  --color-text-mutated-dark: hsl(0, 0%, 50%);
  --color-border: hsl(0, 0%, 30%);
  --color-border-hightlight: hsl(0, 0%, 60%);
  --background-image-bg-gradient: linear-gradient(
    0deg,
    var(--color-bg) 95%,
    var(--color-bg-light)
  );
  --background-image-bg-gradient-hover: linear-gradient(
    0deg,
    var(--color-bg),
    var(--color-bg-light)
  );
  --font-poly: 'Poly', sans-serif;

  /*GAMEAREA*/
  --color-gamearea-bg: hsl(0, 0%, 5%);
  --color-gamearea-board: hsl(120, 100%, 30%);
  --color-gamearea-border: hsl(0, 0%, 15%);
  --color-gamearea-card: hsl(0, 0%, 13%);
  --color-gamearea-card-border: hsl(0, 0%, 17%);
  --color-gamearea-card-text: hsl(0, 0%, 75%);
  --color-gamearea-change-btn: hsl(0, 0%, 10%);
  --color-gamearea-change-btn-text: hsl(0, 0%, 90%);
  --color-gamearea-header-text: hsl(0, 0%, 75%);
  --color-drag-hover: hsla(120, 100%, 28%, 0.235);
  --color-gamearea-endmodal: hsl(0, 0%, 12%);

  /*GAMEAREA*/

  --animate-slide-in: slide-in 350ms ease-out forwards;
  @keyframes slide-in {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

[data-gamearea-theme='light'] {
  --color-gamearea-bg: hsl(0, 0%, 96%);
  --color-gamearea-board: oklch(41.4% 0.112 45.904);
  --color-gamearea-border: hsl(0, 0%, 85%);
  --color-gamearea-card: oklch(96.2% 0.059 95.617);
  --color-gamearea-card-border: oklch(87.9% 0.169 91.605);
  --color-gamearea-card-text: oklch(41.4% 0.112 45.904);
  --color-gamearea-change-btn: hsl(0, 0%, 90%);
  --color-gamearea-change-btn-text: hsl(0, 0%, 15%);
  --color-gamearea-header-text: oklch(41.4% 0.112 45.904);
  --color-drag-hover: hsla(120, 55%, 32%, 0.18);
  --color-gamearea-endmodal: hsl(0, 0%, 96%);
}
